In [2]:
import warnings
warnings.simplefilter("ignore", category=FutureWarning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnchoredText
from matplotlib.colors import ListedColormap, rgb2hex
import matplotlib.patches as mpatches
import seaborn as sns
from scipy import stats
from sklearn.metrics import recall_score, accuracy_score, precision_score, fbeta_score, f1_score
!pip install xlrd

Collecting xlrd
  Obtaining dependency information for xlrd from https://files.pythonhosted.org/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl.metadata
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 5.1 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [3]:
get_ipython().run_line_magic('matplotlib', 'inline')

In [4]:
#Load the dataset
df = pd.read_excel('/Users/linaabril/Documents/FE 2024/scoring/Scoring-20240917/defaut2000.xls')

In [11]:
df.head()

,yd,tdta,reta,opita,ebita,lsls,lta,gempl,invsls,nwcta,cacl,qacl,fata,ltdta,mveltd,Group
168,1,0.900077,0.015787,-0.010493,-0.052850,2.192304,2.344659,-0.023749,0.836659,-0.018964,0.977743,0.134561,0.040913,0.371591,0.166923,1
62,0,0.548348,0.037796,-0.063657,-0.092025,2.243384,2.320210,0.456475,0.322593,0.350026,2.371865,1.201017,0.284639,1.471214,0.245892,0
4,0,0.202570,0.483833,0.280728,0.233083,2.443132,2.238314,-0.032192,0.237983,0.585332,6.133335,3.571832,0.051713,8.326772,0.293362,1
68,0,0.573019,0.040257,0.202784,0.186510,2.639933,1.968870,0.033038,0.189908,0.470021,2.242922,1.260476,0.164240,1.757342,0.150107,0
0,0,0.145539,0.383244,0.249250,0.240580,2.832563,3.196006,0.105342,0.075232,0.793606,6.452848,6.093447,0.000000,27.604182,0.027201,1

In [6]:
# Sort the data by 'lsls' column
df = df.sort_values(by='lsls')

In [8]:
# New column alternating between 1 and 0
df['Group'] = [1 if i % 2 == 0 else 0 for i in range(len(df))]

In [10]:
# Separate into estimation and validation samples
estimation_sample = df[df['Group'] == 1] 
validation_sample = df[df['Group'] == 0]

In [13]:
# Display the first few rows
print(estimation_sample.head())
print(validation_sample.head())

     yd      tdta      reta     opita     ebita      lsls       lta     gempl  \
168   1  0.900077  0.015787 -0.010493 -0.052850  2.192304  2.344659 -0.023749
4     0  0.202570  0.483833  0.280728  0.233083  2.443132  2.238314 -0.032192
0     0  0.145539  0.383244  0.249250  0.240580  2.832563  3.196006  0.105342
137   1  0.602458  0.144219 -0.332079 -0.356910  2.900271  1.703244 -0.082549
73    0  0.599189  0.148823  0.143413  0.103324  2.963405  2.493213 -0.020852

       invsls     nwcta      cacl      qacl      fata      ltdta    mveltd  \
168  0.836659 -0.018964  0.977743  0.134561  0.040913   0.371591  0.166923
4    0.237983  0.585332  6.133335  3.571832  0.051713   8.326772  0.293362
0    0.075232  0.793606  6.452848  6.093447  0.000000  27.604182  0.027201
137  0.140173  0.436418  1.897833  0.943241  0.116378   0.647507  0.067219
73   0.252448  0.516704  3.772515  1.604781  0.373210   0.500182  0.273783

     Group
168      1
4        1
0        1
137      1
73       1
     yd      tdta      reta     opita     ebita      lsls       lta     gempl  \
62    0  0.548348  0.037796 -0.063657 -0.092025  2.243384  2.320210  0.456475
68    0  0.573019  0.040257  0.202784  0.186510  2.639933  1.968870  0.033038
138   1  0.603715  0.185826 -0.118158 -0.170569  2.847273  2.770030 -0.169024
123   1  0.517705  0.250614  0.004336 -0.027894  2.925547  2.127856 -0.063153
31    0  0.409262  0.006859  0.126605  0.098086  2.968233  3.158393  0.160371

       invsls     nwcta      cacl      qacl      fata     ltdta    mveltd  \
62   0.322593  0.350026  2.371865  1.201017  0.284639  1.471214  0.245892
68   0.189908  0.470021  2.242922  1.260476  0.164240  1.757342  0.150107
138  0.485257  0.418705  1.994468  0.749378  0.182681  0.672712  0.137957
123  0.377140  0.438358  1.963775  0.122656  0.062870  0.433155  0.091776
31   0.162727  0.341705  2.264987  1.766896  0.139137  2.755766  0.226291

     Group
62       0
68       0
138      0
123      0
31       0